h5 {
    margin-bottom:4px;
}

.left_floater {
    float: left;
    margin: 2px;
    max-width: 20%;
    width: 20%;
}

.left_floater div select, .left_floater div input {
    width: 95%;
    margin: 0 10px;
}

#lookup_item_form {
    float: right;
}

#upitt-workflow-new-batch-form .fieldset-wrapper {
    margin-left: 0;
}

.numeric {
    text-align: right;
}

.non_numeric {
    color: #333;
    white-space: nowrap;
}

.text-report {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    background-color: white;
    color: #258;
    overflow: auto;
}

.text-report a {
    color: #02b;
}

a.bad {
    color: #c33;
}

.text-report, .report_table {
    font-size: 0.825em;
    font-family: Andale Mono, monospace;
}

.pl_20 {
    padding-left: 20px
}

.wide_200 {
    width: 200px;
}

.fl {
    float: left;
}

.report_table_wrapper {
    max-height: 330px;
    height: 330px;
    overflow: scroll;
}

#current_directory {
    border-bottom: 2px solid #ccc;
    background-color: #444;
    color: #f4f4f4;
}

#edit-box-files {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1em;
}

#edit-box-files legend {
    top: 0px;
}

#edit-box-files-wrapper .fieldset-wrapper {
    margin-top: 0;
}

#edit-box-files-loading-img {
    position:relative;
    top:20px;
    left:0;
    background-color: black;
    width:100%;
    height:205px;
    text-align:center;
    vertical-align:middle;
    background: url('../images/Loading_icon.gif');
    background-repeat: no-repeat;
    background-position: center; 
}

.ftp_file_zip {
    background: url('../images/file_zip.png');
}

.ftp_file {
    background: url('../images/file.png');
}

.ftp_folder {
    background: url('../images/folder.png');
}

.ftp_file, .ftp_file_zip {
    color: #999;
}

.ftp_folder, .ftp_file_zip, .ftp_file {
    padding-left:24px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}

#edit-mode option[value="0"], #edit-mode option[value="1"], #edit-mode option[value="2"] {
  font-weight: bold;
  text-transform: uppercase;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.found {
    color: #0a0;
}
.not-found {
    color: #c00;
}

.optional {
    color: #999;
}
